<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Witaj w {{ title }}!
  </h1>
  <img width="200" class="logo" alt="Angular Logo" src="/assets/img/logosea.png">
</div>

  <div class="TopSearch">
    <ul>
      <h2 class="infoField">Określ szukane miejsce </h2>
      <p class="infoField_down">Podaj conajmniej jeden parametr</p>

    </ul>

    <ul class="SearchBar">
      <li>
        <form class="inputField">
          <mat-form-field class="inputField-full-width">
            <mat-label>Stacja: </mat-label>
            <label>
              <input matInput [(ngModel)]="station" name="inputStation">
            </label>
          </mat-form-field>
        </form>
      </li>

      <li>
        <form class="inputField">
          <mat-form-field class="inputField-full-width">
            <mat-label>Województwo: </mat-label>
            <label>
              <input matInput [(ngModel)]="state" name="inputState">
            </label>
          </mat-form-field>
        </form>
      </li>

      <li>
        <form class="inputField">
          <mat-form-field class="inputField-full-width">
            <mat-label>Rzeka: </mat-label>
            <label>
              <input matInput [(ngModel)]="river" name="inputRiver">
            </label>
          </mat-form-field>
        </form>
      </li>

      <ul>
        <li>
          <button (click)="searchRiver()" mat-button class="searchButton"> Szukaj! </button>
        </li>
      </ul>
    </ul>
  </div>
