.logo {
  margin-left: 10px;
}


.Content, li {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}



.searchButton {
  background-color: bisque;
}

.mat-table {
  width: auto;
}
















/*.Content, li{*/

/*  list-style: none;*/
/*  padding-left: 5px;*/


/*}*/

/* .searchButton {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/

/*}*/

/*.infoField_down {*/
/*  text-align: center;*/
/*}*/

/*.searchButton{*/
/*  margin-top: 20px;*/
/*}*/


/*.inputField {*/
/*  min-width: 150px;*/
/*  max-width: 500px;*/
/*  width: 100%;*/
/*}*/

/*.inputField-full-width {*/
/*  width: 10%;*/
/*  padding-top: 20px;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/

/*}*/

/*.searchButton {*/
/*  background-color: bisque;*/
/*}*/

/*.logo {*/
/*  margin-left: 10px;*/
/*}*/

/*.infoField{*/
/*  text-align: center;*/
/*}*/

/*.table{*/
/*  position: absolute;*/
/*  margin-top: 200px;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/

/*}*/

