<!--The content below is only a placeholder and can be replaced.-->
<meta charset="UTF-8">

<mat-toolbar>

  <span>RiverStatusPoland</span>

  <span class="items"> ITEMS </span>

</mat-toolbar>
{{this.state}}
<mat-form-field [style.width.%]="100"  >
  <mat-autocomplete #stateAutoComplete="matAutocomplete">
    <mat-option *ngFor="let option of stateOptions" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>

  <mat-label>Wybierz województwo </mat-label>
  <label>
    <input matInput [(ngModel)]="state" [matAutocomplete]="stateAutoComplete" name="inputState">
  </label>
</mat-form-field>

<mat-form-field [style.width.%]="100" (click)="this.fillOptions()" >
  <mat-autocomplete #riverAutoComplete="matAutocomplete">
    <mat-option *ngFor="let option of riverOptions" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>

  <mat-label>Wybierz rzeke</mat-label>
  <label>
    <input matInput [(ngModel)]="river" [matAutocomplete]="riverAutoComplete" name="inputState">
  </label>
</mat-form-field>

<div class="mat-display-1">

    <p>Źródłem pochodzenia danych jest Instytut Meteorologii i Gospodarki Wodnej – Państwowy Instytut Badawczy
    </p>
    <p>Dane Instytutu Meteorologii i Gospodarki Wodnej – Państwowego Instytutu Badawczego zostały przetworzone
    </p>

</div>


<div class="button-search"> <button  (click)="searchRiver()" mat-button class="searchButton"> Szukaj! </button> </div>

<mat-tab-group class="mat-elevation-z2">
  <mat-tab label="Dane" >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
        <ng-container matColumnDef="stacja" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stacja </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.stacja}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rzeka" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Rzeka </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.rzeka}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stan">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stan </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.stan_wody}} cm </mat-cell>
        </ng-container>

        <ng-container matColumnDef="temp">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura** </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.temperatura_wody}}  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data pomiaru </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.stan_wody_data_pomiaru}}  </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </table>




  </mat-tab>
  <mat-tab label="Wykres">

    <app-chart></app-chart>

  </mat-tab>
</mat-tab-group>





